{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/manwax/DEV/Cassandre-System/src/Controller/LoginController.php</code></li>
        <li>Your template at <code>/home/manwax/DEV/Cassandre-System/templates/login/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
